<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :appointment_id %><br>
    <%= f.collection_select( :appointment_id, Appointment.all, :id, :appointment_id, :prompt => "Appointment Code")%>
  </div>

  <div class="field">
    <%= f.label :patient_name %><br>
    <%= f.text_field :patient_name %>
  </div>
  <div class="field">
    <%= f.label :insurance_id %><br>
    <%= f.collection_select( :insurance_id, Insurance.all, :id, :insurance_name, :prompt => "Select Insurance")%>
  </div>

  <div class="field">
    <%= f.label :fee %><br>
    <%= f.text_field :fee %>
  </div>

  <div class="field">
    <%= f.label :employee_name %><br>
    <%= f.collection_select( :employee_name, Employee.all, :id, :last_name, :prompt => "Select Insurance") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
