<h1>Listing invoices</h1>

<div class="media" >

  <div class="media-body">
    <table class="table table-hover">

  <thead>
    <tr>
      <th>Invoice</th>
      <th>Date</th>
      <th>Appointment</th>
      <th>Patient</th>
      <th>Patient name</th>
      <th>Insurance</th>
      <th>Insurance name</th>
      <th>Fee</th>
      <th>Employee</th>
      <th>Employee name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.invoice_id %></td>
        <td><%= invoice.date %></td>
        <td><%= invoice.appointment_id %></td>
        <td><%= invoice.patient_id %></td>
        <td><%= invoice.patient_name %></td>
        <td><%= invoice.insurance_id %></td>
        <td><%= invoice.insurance_name %></td>
        <td><%= invoice.fee %></td>
        <td><%= invoice.Employee_id %></td>
        <td><%= invoice.employee_name %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    </div>
</div>
<br>

<%= link_to 'New Invoice', new_invoice_path %>
