<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice:</strong>
  <%= @invoice.invoice_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @invoice.date %>
</p>

<p>
  <strong>Appointment:</strong>
  <%= @invoice.appointment_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @invoice.patient_id %>
</p>

<p>
  <strong>Patient name:</strong>
  <%= @invoice.patient_name %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @invoice.insurance_id %>
</p>

<p>
  <strong>Insurance name:</strong>
  <%= @invoice.insurance_name %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @invoice.fee %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @invoice.Employee_id %>
</p>

<p>
  <strong>Employee name:</strong>
  <%= @invoice.employee_name %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
