<h1>Listing diagnostic_codes</h1>

<div class="media" >

  <div class="media-body">
    <table class="table table-hover">

  <thead>
    <tr>
      <th>Diagnostic code</th>
      <th>Description</th>
      <th>Fee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diagnostic_codes.each do |diagnostic_code| %>
      <tr>
        <td><%= diagnostic_code.diagnostic_code %></td>
        <td><%= diagnostic_code.description %></td>
        <td><%= diagnostic_code.fee %></td>
        <td><%= link_to 'Show', diagnostic_code %></td>
        <td><%= link_to 'Edit', edit_diagnostic_code_path(diagnostic_code) %></td>
        <td><%= link_to 'Destroy', diagnostic_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>

<%= link_to 'New Diagnostic code', new_diagnostic_code_path %>
