<p id="notice"><%= notice %></p>

<p>
  <strong>Diagnostic code:</strong>
  <%= @diagnostic_code.diagnostic_code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @diagnostic_code.description %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @diagnostic_code.fee %>
</p>

<%= link_to 'Edit', edit_diagnostic_code_path(@diagnostic_code) %> |
<%= link_to 'Back', diagnostic_codes_path %>
