<h1>Listing insurances</h1>

<div class="media" >

  <div class="media-body">
    <table class="table table-hover">

  <thead>
    <tr>
      <th>Insurance</th>
      <th>Insurance name</th>
      <th>Contact information</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @insurances.each do |insurance| %>
      <tr>
        <td><%= insurance.insurance_id %></td>
        <td><%= insurance.insurance_name %></td>
        <td><%= insurance.contact_information %></td>
        <td><%= insurance.address %></td>
        <td><%= insurance.city %></td>
        <td><%= insurance.state %></td>
        <td><%= insurance.zip %></td>
        <td><%= link_to 'Show', insurance %></td>
        <td><%= link_to 'Edit', edit_insurance_path(insurance) %></td>
        <td><%= link_to 'Destroy', insurance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    </div>
  </div>

<br>

<%= link_to 'New Insurance', new_insurance_path %>
