<p id="notice"><%= notice %></p>

<p>
  <strong>Insurance:</strong>
  <%= @insurance.insurance_id %>
</p>

<p>
  <strong>Insurance name:</strong>
  <%= @insurance.insurance_name %>
</p>

<p>
  <strong>Contact information:</strong>
  <%= @insurance.contact_information %>
</p>

<p>
  <strong>Address:</strong>
  <%= @insurance.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @insurance.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @insurance.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @insurance.zip %>
</p>



<%= link_to 'Edit', edit_insurance_path(@insurance) %> |
<%= link_to 'Back', insurances_path %>
