<h1>Listing physicians</h1>

<div class="media" >

  <div class="media-body">
    <table class="table table-hover">

  <thead>
    <tr>
      <th>Employee</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @physicians.each do |physician| %>
      <tr>
        <td><%= physician.employee_id %></td>
        <td><%= physician.first_name %></td>
        <td><%= physician.last_name %></td>
        <td><%= physician.phone %></td>
        <td><%= physician.email %></td>
        <td><%= link_to 'Show', physician %></td>
        <td><%= link_to 'Edit', edit_physician_path(physician) %></td>
        <td><%= link_to 'Destroy', physician, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    </div>
  </div>

<br>

<%= link_to 'New Physician', new_physician_path %>
