<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @physician.employee_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @physician.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @physician.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @physician.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @physician.email %>
</p>

<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
