<%= form_for(@employeeemployee_id) do |f| %>
  <% if @employeeemployee_id.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employeeemployee_id.errors.count, "error") %> prohibited this employeeemployee_id from being saved:</h2>

      <ul>
      <% @employeeemployee_id.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :dob %><br>
    <%= f.text_field :dob %>
  </div>
  <div class="field">
    <%= f.label :sex %><br>
    <%= f.text_field :sex %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.number_field :zip %>
  </div>
  <div class="field">
    <%= f.label :emergency_contact %><br>
    <%= f.text_field :emergency_contact %>
  </div>
  <div class="field">
    <%= f.label :relation %><br>
    <%= f.text_field :relation %>
  </div>
  <div class="field">
    <%= f.label :emergency_contact_number %><br>
    <%= f.text_field :emergency_contact_number %>
  </div>
  <div class="field">
    <%= f.label :insurance_id %><br>
    <%= f.number_field :insurance_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
