<h1>Listing employeeemployee_ids</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Dob</th>
      <th>Sex</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Emergency contact</th>
      <th>Relation</th>
      <th>Emergency contact number</th>
      <th>Insurance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employeeemployee_ids.each do |employeeemployee_id| %>
      <tr>
        <td><%= employeeemployee_id.first_name %></td>
        <td><%= employeeemployee_id.last_name %></td>
        <td><%= employeeemployee_id.phone %></td>
        <td><%= employeeemployee_id.email %></td>
        <td><%= employeeemployee_id.dob %></td>
        <td><%= employeeemployee_id.sex %></td>
        <td><%= employeeemployee_id.address %></td>
        <td><%= employeeemployee_id.city %></td>
        <td><%= employeeemployee_id.state %></td>
        <td><%= employeeemployee_id.zip %></td>
        <td><%= employeeemployee_id.emergency_contact %></td>
        <td><%= employeeemployee_id.relation %></td>
        <td><%= employeeemployee_id.emergency_contact_number %></td>
        <td><%= employeeemployee_id.insurance_id %></td>
        <td><%= link_to 'Show', employeeemployee_id %></td>
        <td><%= link_to 'Edit', edit_employeeemployee_id_path(employeeemployee_id) %></td>
        <td><%= link_to 'Destroy', employeeemployee_id, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employeeemployee', new_employeeemployee_id_path %>
