<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @employeeemployee_id.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employeeemployee_id.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @employeeemployee_id.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employeeemployee_id.email %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @employeeemployee_id.dob %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @employeeemployee_id.sex %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employeeemployee_id.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @employeeemployee_id.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @employeeemployee_id.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @employeeemployee_id.zip %>
</p>

<p>
  <strong>Emergency contact:</strong>
  <%= @employeeemployee_id.emergency_contact %>
</p>

<p>
  <strong>Relation:</strong>
  <%= @employeeemployee_id.relation %>
</p>

<p>
  <strong>Emergency contact number:</strong>
  <%= @employeeemployee_id.emergency_contact_number %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @employeeemployee_id.insurance_id %>
</p>

<%= link_to 'Edit', edit_employeeemployee_id_path(@employeeemployee_id) %> |
<%= link_to 'Back', employeeemployee_ids_path %>
