<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :physician_id %><br>
    <%= f.collection_select( :physician_id, Physician.all, :id, :last_name, :prompt => "Select a Physician") %>
  </div>


  <div class="field">
    <%= f.label :patient_id %><br>
    <%= f.collection_select( :patient_id, Patient.all, :id, :last_name, :prompt => "Select a Patient") %>
  </div>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date, :start_hour => 8, ampm: true, :minute_step => 30, :end_hour => 16 %>
  </div>
  <div class="field">
    <%= f.label :reason %><br>
    <%= f.text_area :reason %>
  </div>
  <div class="field">
    <%= f.label :diagnostic_id %><br>
    <%= f.collection_select( :diagnostic_id, DiagnosticCode.all, :id, :description, :prompt => "Select a Diagnostic Code") %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.collection_select( :employee_id, Employee.all, :id, :last_name, :prompt => "Select a Employee")%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
