<!DOCTYPE html>
<html>
<head>
  <title>Dermatologyoffice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="css/jquery.datetimepicker.css" rel="stylesheet">
</head>
<body>
<%= render 'layouts/navbar'%>

<%= yield %>

</body>
</html>
